[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=QT_VNC
Exec=/usr/bin/single-instance /opt/QT_VNC/bin/QT_VNC
Icon=/usr/share/icons/hicolor/80x80/apps/QT_VNC80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
